.footer{
    position: absolute;
    bottom: 10px;
}
.amount{
    color: #cccccc;
}
.filter-btn{
    padding: 5px;
    background: whitesmoke;
    margin: 2px;
    border: none;
}
.filter-btn.active{
    background-color: #25a129;
    color: white;
}
.filter-btn:hover{
    cursor: pointer;
    background-color: #26c22b;
    color: white;

}