.footer{
    position: absolute;
    bottom: 10px;
}
.footer button{
    padding: 5px;
    background: whitesmoke;
    margin: 2px;
    box-shadow: inset 2px 2px 2px #dddddd;
}

.footer button:hover{
    cursor: pointer;

}