.taskmanager-wrapper, .taskmanager-wrapper:before, .taskmanager-wrapper:after
{
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.2);
}

.taskmanager-wrapper
{
    position: relative;
    padding: 4em 1em;
    margin: 50px auto;
    min-height: 300px;
    width: 250px;

}

.taskmanager-wrapper:before, .taskmanager-wrapper:after
{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(2.5deg);
  -o-transform: rotate(2.5deg);
  transform: rotateZ(2.5deg);
  z-index: -1;
}

.taskmanager-wrapper:after
{
  -webkit-transform: rotateZ(-2.5deg);
  -o-transform: rotate(-2.5deg);
  transform: rotateZ(-2.5deg);
}

.taskmanager-wrapper h1
{
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
  padding: 0.2em 0;
  margin: 0;
  color: #dddddd;
  border-top: 1px solid #ddd;

}

.taskmanager-wrapper:hover svg, .taskmanager-wrapper:hover h1{
  transition: all 1s ease;
  fill: #25a129;
  color: #483e3e;
}

